@charset "utf-8";

.dugme_alt{
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    background: #858a8be3;
    border-top: 0;
    border-left: 2px solid #929798;
    border-bottom: 1px solid #929798;
    border-right: 3px solid #929798bd;
    line-height: 0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.sabit_katman{
 position:relative;
 float:left;
 width:30px;
 height:30px;
}

.dugmeler{
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 19px;
    line-height: 0;
    color: #ffffff;
    width: 100%;
    height: 100%;
    background-color: #929798;
    border: 1px solid #929798;
    cursor: pointer;
}

.dugmeler:hover{
 background-color:#7b7c7ce3;
 border:1px solid #7b7c7c;
}

.dugmeler:active{
 border-left:1px solid #222222;
 border-right:1px solid #777777;
 border-top:1px solid #222222;
 border-bottom:1px solid #777777;
}

.fa-font.renk{
 border-bottom:3px solid #aaa;
 width:21px;
 text-align:center;
 line-height:18px;
}

.fa-font.artalan{
 background:#888;
 width:21px;
 height:20px;
 text-align:center;
 line-height:19px;
}

.goster-gizle{
 padding:0;
 margin:0 0 0 7px;
 border-left:1px solid #777777;
 border-top:1px solid #777777;
 border-bottom:1px solid #444444;
 border-right:1px solid #444444;
 text-align:center;
 height:20px;
 width:32px;
 float:right;
 cursor:pointer;
 color:#ffffff;
}

.goster-gizle:hover{
 border-left:1px solid #444444;
 border-top:1px solid #444444;
 border-bottom:1px solid #777777;
 border-right:1px solid #777777;
}

.goster-gizle:active{
 border-left:1px solid #000000;
 border-right:1px solid #999999;
 border-top:1px solid #000000;
 border-bottom:1px solid #999999;
}

.dugme_degistir{
 font-weight:bold;
 font-size:20px;
 line-height:17px;
}

.dugme_tamekran{
 font-size:17px;
 line-height:19px;
}

.dugme_ayrac{
 box-sizing: border-box;
 float:left;
 width:0px;
 height:24px;
 margin-left:2px;
 margin-right:2px;
 border-right:1px solid #b1aeae;
 border-left:1px solid #999999;
 margin-top:3px;
 margin-bottom:3px;
}

.mesaj_tamekran{
 position:relative;
 display:block;
 z-index:1000;
 min-width:218px;
}

.duzenleyici_govde{
 clear:both;
}

.duzenleyici_ana{
 position:relative;
 float:left;
 width:100%;
 padding-bottom:22px;
}

.duzenleyici_baslik{
 background:#555555;
 border-left:2px solid #444444;
 border-top:1px solid #444444;
 border-bottom:1px solid #444444;
 border-right:2px solid #444444;
 margin:0;
 padding:2px;
 line-height:14px;
 display:none;
}

.duzenleyici_baslik_yazi{
 font-family:verdana, sans-serif, tahoma, arial, helvetica;
 color:#cccccc;
 text-decoration:none;
 font-weight:normal;
 font-size:11px;
 margin:4px;
 padding:0;
 float:left;
}

.formlar_mesajyaz{
    box-sizing: border-box;
    float: left;
    margin: 0;
    padding: 5px 5px 0 5px;
    width: 100%;
    height: 373px;
    font-family: verdana, sans-serif, tahoma, arial, helvetica;
    font-size: 13.7px;
    line-height: 18px;
    color: #686764;
    text-decoration: none;
    background: #ffffff;
    border-left: 3px solid #929798;
    border-top: 1px solid #929798;
    border-right: 3px solid #929798;
    border-bottom: 2px solid #ffffff;
    overflow: auto;
    font-weight: normal;
    cursor: text;
    text-align: left;
    resize: none;
}

.formlar_mesajyaz:focus{
 border-left:3px solid #7b7c7ce3;
 border-top:1px solid #7b7c7ce3;
 border-right:3px solid #7b7c7ce3;
 border-bottom:2px solid #7b7c7ce3;
}

.formlar_mesajyaz img{
 max-width:80%;
}

.formlar_mesajyaz blockquote, .formlar_mesajyaz pre{
 border:1px dashed #aaa;
 margin:5px 0;
 overflow:hidden;
 padding:6px 8px;
 white-space:pre-wrap;
}

.formlar_mesajyaz blockquote{
 background:#fff6c7;
}

.formlar_mesajyaz pre{
 background:#efefef;
}

.duzenleyici_taban{
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    position: absolute;
    bottom: 0;
    background: #929798;
    border-left: 3px solid #929798;
    border-top: 1px solid #929798;
    border-bottom: 2px solid #929798;
    border-right: 3px solid #929798;
}

.boyutlandir {
 width:20px;
 height:20px;
 position:absolute;
 right:0;
 bottom:0;
 cursor:se-resize;
 background:no-repeat 0 0 url("../resimler/boyutlandir.png");
}

.yazibicimi_tablosu{
 position:absolute;
 left:0;
 top:32px;
 z-index:1;
 float:left;
 background:#ffffff;
 border:1px solid #cccccc;
 display:none;
 font-family:arial;
 font-weight:bold;
 font-size:1px;
 line-height:10px;
}

.yazibicimi_tablosu td{
 border:1px solid #ffffff;
 white-space:nowrap;
}

.yazibicimi_tablosu a{
 display:block;
 padding:6px;
 color:#444444;
 text-decoration:none;
 font-size:13px;
}

.yazibicimi_tablosu td:hover{
 border:1px solid #99ffff;
 background:#ddffff;
}

.renk_tablosu{
 position: absolute;
 left:0;
 top:32px;
 z-index:1;
 float:left;
 background:#ffffff;
 border:1px solid #cccccc;
 display:none;
 font-family:arial;
 font-size:1px;
}

.renk_tablosu td{
 border:1px solid #aaaaaa;
}

.renk_tablosu a{
 display:block;
 width:20px;
 height:20px;
 text-decoration:none;
}

.renk_tablosu td:hover{
 border:1px solid #000000;
}

.clear{
 clear:both;
}
